/* <-- START CSS RESET -->*/
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
/* <-- END CSS RESET --> */

header {
  background-color: #1f2937;
  padding: 20px 0px;
}

.container {
  display: flex;
  width: 75%;
  margin: auto;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 18px;
  color: #e5e7eb;
}
